/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Global Style Start **********************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* Primary Button */
.primary-btn {
    background-color: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 18px 36px;
    border: none;
    cursor: pointer;
}

/* Paragraph Text */
.text {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin: 20px 0;
}

/* Section Title */
.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
}

/* Small Paragraph Text */
.small-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

.primary-clr {
    color: #FD6E0A;
}

.secondary-clr {
    color: #181818;
}

.color {
    color: #474747;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-clr {
    background-color: #FFF8F3;
}

/* Global style End *************************************************/

/* Hero section */
.hero {
    background-image: url('/images/developer.png'), url('/images/header_bg.png');
    background-repeat: no-repeat, no-repeat;
    background-position:
        calc((100% - 1280px) / 2 - 150px) center,
        calc(100% - ((100% - 1280px)/2) - 100px) bottom;
}

/* Navbar Style */
nav {
    padding-top: 40px;
}

.logo {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    list-style-type: none;
    font-size: 20px;
    gap: 50px;
}

/* Hero section style */

/* Hero Content */
.hero-container {
    padding-top: 45px;
}

.hero-container h2 {
    font-weight: 600;
    font-size: 45px;
}

.hero-container h1 {
    font-weight: 700;
    font-size: 85px;
}

.hero-container p {
    width: 80%;
}

.contact-btn {
    background-color: transparent;
    border: 1px solid #FD6E0A;
    margin-left: 30px;
}

.mary-img {
    position: relative;
    left: 200px;
    top: 5px
}

/* About Section */

.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    margin: 130px auto;
}

.about-content {
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

.info-title {
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info-text {
    font-size: 20px;
    line-height: 30px;
    color: #474747;
    font-weight: 700;
}

/* What I Do Section */
.what-i-do {
    text-align: center;
}

.what-i-do-text {
    width: 70%;
    margin: 20px auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 50px;
}

.card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    text-align: left;
}

.card h3 {
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Resume Section */
.resume {
    margin: 130px auto;
    text-align: center;
}


.resume-content {
    margin-top: 110px;
    margin-bottom: 50px;
    gap: 70px;
    text-align: left;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
}

.resume-box {
    border-bottom: 1px solid #D1D1D1;
    padding: 30px 0;
}

.resume-box h3 {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.resume-box h4 {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}

.resume-box p {
    width: 80%;
}

/* Footer section */
.footer-container {
    gap: 100px;
    align-items: flex-start;
    padding-top: 130px;
    padding-bottom: 130px;
}

.footer-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.footer-text {
    margin-top: 20px;
    margin-bottom: 30px;
}

.icon {
    justify-content: flex-start;
    gap: 24px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 30px;
}

.form button {
    align-self: flex-start;
}

.input {
    background-color: white;
    border-radius: 5px;
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    padding: 20px;
    border: none;
}

.column {
    width: 50%;
}